{
    "DBUser" : "user",
    "DBPass" : "pass",
    "DBName" : "dbname"
    "DBTables" : [
        "CREATE TABLE devices (device_id SMALLINT UNSIGNED PRIMARY KEY NOT NULL AUTO_INCREMENT, mac VARCHAR(17) NOT NULL UNIQUE);",
        "CREATE TABLE dhcpevents (event_id SMALLINT UNSIGNED PRIMARY KEY NOT NULL AUTO_INCREMENT, event VARCHAR(3) NOT NULL, ip VARCHAR(14), hostname TEXT, device_id SMALLINT UNSIGNED NOT NULL, time TIMESTAMP DEFAULT CURRENT_TIMESTAMP, CONSTRAINT `fk_device_id` FOREIGN KEY (device_id) REFERENCES devices (device_id) ON DELETE CASCADE ON UPDATE CASCADE);"
    ]
}
